absl-py==1.0.0
aiodns==3.0.0
aiohttp==3.8.5
aiosignal==1.2.0
alpha-vantage==2.3.1
altair==4.2.2
ansiwrap==0.8.4
anyio==3.4.0
appdirs==1.4.4
appnope==0.1.2
arch==5.6.0
argon2-cffi==21.2.0
argon2-cffi-bindings==21.2.0
ascii-magic==1.6
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.12.0
binance==0.3
bitarray-hardbyte==1.5.2
bleach==4.1.0
blinker==1.5
blis==0.7.9
boto3==1.20.46
botocore==1.23.46
bs4==0.0.1
bt==0.2.9
cached-property==1.5.2
cachetools==5.0.0
captum==0.6.0
catalogue==2.0.8
ccxt==4.0.49
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
chart-studio==1.1.0
click==8.0.3
colorama==0.4.6
colorlover==0.3.0
comm==0.1.4
commonmark==0.9.1
confection==0.0.4
config==0.5.1
configparser==5.3.0
convertdate==2.4.0
cryptography==36.0.1
cssselect==1.2.0
cssselect2==0.7.0
csvreader==0.0.4
cufflinks==0.17.3
cvxpy==1.3.1
cycler==0.11.0
cymem==2.0.7
Cython==3.0.0
cytoolz==0.12.1
dataclasses-json==0.5.14
dataframe-image==0.1.1
datamine==0.21.post2
datapackage==1.15.2
datasets==2.8.0
dateparser==1.1.1
DateTime==4.3
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
degiro-connector==2.0.21
detecta==0.0.5
dill==0.3.6
distlib==0.3.4
distro==1.8.0
dnspython==2.4.1
docker-pycreds==0.4.0
ecos==2.0.12
eli5==0.13.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.1.0
evaluate==0.4.0
exchange-calendars==4.2.8
executing==1.2.0
feedparser==6.0.10
ffn==0.3.6
filelock==3.4.2
financedatabase==2.1.0
finnhub-python==2.4.18
finviz==1.4.6
finvizfinance==0.14.5
flake8==6.1.0
Flask==2.0.2
flatbuffers==2.0
fonttools==4.28.3
forex-python==1.8
formulaic==0.6.4
fred==3.1
fredapi==0.4.3
frozendict==2.3.6
frozenlist==1.2.0
fsspec==2023.6.0
fst-pso==1.8.1
fundamentalanalysis==0.2.14
future==0.18.3
futures==2.2.0
FuzzyTM==2.0.5
gast==0.5.3
gensim==4.3.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
googleads==37.0.0
googleapis-common-protos==1.59.0
graphviz==0.20.1
greenlet==1.1.2
grpcio==1.56.2
h5py==3.6.0
hijri-converter==2.3.1
holidays==0.14.2
html5lib==1.1
httplib2==0.22.0
huggingface-hub==0.11.1
iab-tcf==0.2.1
idna==3.3
ijson==3.1.4
imageio==2.25.0
imbalanced-learn==0.9.0
imblearn==0.0
importlib-metadata==6.0.0
inflection==0.5.1
install==1.3.5
interface-meta==1.3.0
intrinio-sdk==6.25.0
ipykernel==6.6.0
ipympl==0.8.4
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
iso8601==0.1.16
isodate==0.6.1
itsdangerous==2.0.1
jedi==0.18.1
jellyfish==0.9.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
json5==0.9.6
jsonlines==3.0.0
jsonpointer==2.2
jsonschema==4.2.1
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-server==1.13.0
jupyterlab==3.2.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==3.0.8
keras==2.8.0
Keras-Preprocessing==1.1.2
keras-tuner==1.1.2
kiwisolver==1.3.2
korean-lunar-calendar==0.3.1
kt-legacy==1.0.4
langchain==0.0.237
langcodes==3.3.0
langsmith==0.0.10
libclang==13.0.0
lime==0.2.0.1
linear-tsv==1.1.0
linearmodels==4.31
llama-index==0.7.11
loguru==0.7.0
lxml==4.9.2
Markdown==3.3.6
markdown-it-py==2.1.0
MarkupSafe==2.0.1
marshmallow==3.20.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
matplotlib-venn==0.11.7
mccabe==0.7.0
mdurl==0.1.2
miniful==0.0.6
mistune==0.8.4
monotonic==1.6
more-itertools==8.12.0
mplfinance==0.12.10b0
mstarpy==0.0.4
multidict==5.2.0
multiprocess==0.70.14
multitasking==0.0.10
murmurhash==1.0.9
mypy-extensions==1.0.0
Nasdaq-Data-Link==1.0.0
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==3.0
nltk==3.8.1
notebook==6.4.6
numexpr==2.8.4
numpy==1.23.4
oandapyV20==0.6.3
oauthlib==3.2.0
onetimepass==1.0.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
openbb==3.2.0
opencv-python==4.6.0.66
openpyxl==3.0.9
opt-einsum==3.3.0
osqp==0.6.2.post8
packaging==23.1
pandas==1.5.3
pandas-datareader==0.10.0
pandas-market-calendars==3.2
pandas-ta==0.3.14b0
pandocfilters==1.5.0
papermill==2.4.0
parso==0.8.3
pathtools==0.1.2
pathy==0.10.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==2.4.1
plotly==5.15.0
pmaw==3.0.0
posthog==3.0.1
praw==7.7.1
prawcore==2.3.0
preshed==3.0.8
prometheus-client==0.12.0
prompt-toolkit==3.0.39
property-cached==1.6.4
protobuf==3.20.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycodestyle==2.11.0
pycoingecko==3.1.0
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.4
pydeck==0.8.0
pydot==1.4.2
pyflakes==3.1.0
pyFUME==0.2.25
Pygments==2.14.0
pyhdfe==0.1.2
pyluach==2.2.0
PyMeeus==0.5.12
Pympler==1.0.1
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyotp==2.9.0
pyparsing==3.0.6
pyphen==0.13.2
pyportfolioopt==1.5.4
PyPrind==2.11.3
pyrsistent==0.19.3
pythclient==0.1.10
python-binance==1.0.16
python-coinmarketcap==0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-i18n==0.3.9
python-version==0.0.2
pytrends==4.9.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywry==0.5.13
PyYAML==6.0
pyzmq==22.3.0
qdldl==0.1.5.post3
Quandl==3.7.0
quantconnect==0.1.0
QuantStats==0.0.59
rdflib==7.0.0
regex==2022.3.2
reportlab==3.6.13
requests==2.31.0
requests-file==1.5.1
requests-futures==1.0.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.18.0
retrying==1.3.4
rfc3986==2.0.0
rich==12.6.0
robin-stocks==2.1.0
rsa==4.8
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
s3transfer==0.5.0
schedule==1.1.0
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.10.1
screeninfo==0.6.7
scs==3.2.2
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
sentry-sdk==1.15.0
seqeval==1.2.2
setproctitle==1.3.2
setuptools-scm==7.1.0
sgmllib3k==1.0.0
simpful==2.9.0
simplejson==3.17.6
simpletransformers==0.63.9
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.19
squarify==0.4.3
srsly==2.4.5
stack-data==0.6.2
statsmodels==0.13.2
stocksera==0.1.21
streamlit==1.25.0
svglib==1.5.1
TA-Lib==0.4.23
tableschema==1.20.2
tabula==1.0.5
tabula-py==2.5.1
tabulate==0.9.0
tabulator==1.53.5
tenacity==8.2.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
textacy==0.12.0
textwrap3==0.9.2
tf-estimator-nightly==2.8.0.dev2021122109
thepassiveinvestor==1.2.1
thinc==8.1.10
threadpoolctl==3.0.0
tifffile==2023.2.2
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.13.2
tokenterminal==1.0.1
toml==0.10.2
tomli==1.2.2
toolz==0.12.0
torch==1.13.1
torchvision==0.14.1
tornado==6.1
tqdm==4.62.3
tradingview-ta==3.3.0
traitlets==5.1.1
transformers==4.25.1
transformers-interpret==0.9.6
typer==0.7.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2022.1
tzlocal==4.2
ua-parser==0.10.0
ujson==5.2.0
unicodecsv==0.14.1
Unidecode==1.3.6
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.14
user-agent==0.1.10
user-agents==2.2.0
vaderSentiment==3.3.2
validators==0.20.0
valinvest==0.0.2
virtualenv==20.11.0
wandb==0.13.10
wasabi==1.1.1
watchdog==2.3.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.3
Werkzeug==2.0.2
wget==3.2
widgetsnbextension==4.0.8
wordcloud==1.8.2.2
wrapt==1.14.0
xgboost==1.6.0
xlrd==2.0.1
xmltodict==0.13.0
xxhash==3.2.0
y-py==0.6.0
yahooquery==2.3.2
yarl==1.7.2
yfinance==0.2.26
zeep==4.2.1
zipp==3.14.0
zope.interface==5.4.0
